.Rproj.user
**.o
**.gch
**.pch
**.so
**.dll
inst/lib
inst/doc
.vscode
docs
compile_commands.json
.cache
libs
lib
tools/cmdstan-*
tools/math-*
tools/oneTBB-*
tools/stan-*
tools/stanli-*
**.stanrc
.posit
**.DS_Store
node_modules
*.Rcheck/
*.tar.gz
